@import '../../static/css/variables.scss';

.about-container {
  background-color: $sysGray5;
  overflow: hidden;
  padding-top: 40px;
  .about-box {
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    .img-box {
      width: 100%;
      .bio-img {
        width: 100%;
      }
    }
    .bio-box {
      width: 95%;
      margin: 0 auto;
      text-align: left;
      .txt-box {
        h4, a {
          line-height: 1.8;
          font-size: 18px;
          font-weight: 300;
        }
        a {
          color: $mainColor;
          font-size: 20px;
          font-weight: 500;
          margin-top: 30px;
        }
      }
    }
  }
}

@media (min-width:$break-small) {
  .about-container {
    .about-box {
      width: 90%;
      .bio-box {
        .txt-box {
          text-align: center;
        }
      }
    }
  }
}

@media (min-width:$break-med) {
  .about-container {
    .about-box {
      width: 96%;
      padding: 40px 10px;
      .bio-box {
        .txt-box {
          text-align: left;
          h4 {
            font-size: 18px;
            line-height: 1.8;
          }
        }
      }
    }
  }
}
@media (min-width:$break-lg) {
  .about-container {
    .about-box {
      width: 95%;
      .img-box {
        margin-top: 10%;
      }
      a {
        text-align: left;
      }
    }
  }
}
@media (min-width:$break-xlg) {
  .about-container {
    .about-box {
      .img-box {
        margin-top: 10px;
      }
      .bio-box {
        .txt-box {
          margin-top: 25px;
        }
      }
    }
  }
}
@media (min-width:$break-xlg2) {
  .about-container {
    .about-box {
      width: 85%;
      .img-box {
        margin: 0;
      }
      .bio-box {
        .txt-box {
          margin-top: 60px;
        }
      }
    }
  }
}