body {
  width: 100%; }

h1, h2, h3, h4, h5, h6, a, span, li {
  font-family: 'Muli', sans-serif; }

.light-txt {
  color: white; }

.dark-txt {
  color: #333333; }

.serif-txt, .experience-container .text-box h1, .experience-container .experiences-box .experience-row h1 {
  font-family: 'Source Serif Pro', serif; }

.experience-container {
  background-color: #333333;
  padding: 40px;
  color: white; }
  .experience-container .text-box {
    width: 65%;
    margin: 0 auto; }
    .experience-container .text-box h1 {
      text-align: center; }
    .experience-container .text-box h2 {
      font-size: 16px;
      line-height: 1.8; }
    .experience-container .text-box .filter-title {
      font-size: 700;
      text-align: center; }
  .experience-container .experiences-box {
    width: 80%;
    margin: 50px auto; }
    .experience-container .experiences-box .experience-row .timeline .vertical-line {
      background-color: #505050;
      height: 60px;
      margin: -1px auto 0 auto;
      width: 15px; }
    .experience-container .experiences-box .experience-row .img-box {
      background-color: #505050;
      border-radius: 50%;
      height: 190px;
      margin: -1px auto 0 auto;
      width: 190px; }
      .experience-container .experiences-box .experience-row .img-box .img-bg {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        margin: 1px auto;
        border: 15px solid #505050;
        background: white; }
      .experience-container .experiences-box .experience-row .img-box .company-img, .experience-container .experiences-box .experience-row .img-box .zanbato-img, .experience-container .experiences-box .experience-row .img-box .ibm-img, .experience-container .experiences-box .experience-row .img-box .insights-img, .experience-container .experiences-box .experience-row .img-box .mdanderson-img, .experience-container .experiences-box .experience-row .img-box .northwestern-img {
        width: 140px;
        margin: 0 auto 0 10px; }
      .experience-container .experiences-box .experience-row .img-box .zanbato-img {
        margin-top: 28%; }
      .experience-container .experiences-box .experience-row .img-box .ibm-img {
        margin-top: 18%; }
      .experience-container .experiences-box .experience-row .img-box .healthengine-img {
        width: 110px;
        height: 110px;
        margin: 14% auto auto 26px; }
      .experience-container .experiences-box .experience-row .img-box .insights-img {
        width: 125px;
        margin-top: 11%;
        margin-left: 18px; }
      .experience-container .experiences-box .experience-row .img-box .mdanderson-img {
        margin-top: 34%; }
      .experience-container .experiences-box .experience-row .img-box .northwestern-img {
        width: calc(100% - 15px);
        border-radius: 50%;
        margin-top: 7px;
        margin-left: 7px; }
    .experience-container .experiences-box .experience-row h1 {
      font-size: 25px;
      line-height: 0.5; }
    .experience-container .experiences-box .experience-row h2 {
      font-size: 16px;
      font-weight: 300;
      line-height: 0.5;
      text-transform: uppercase;
      color: #00BFA5; }
    .experience-container .experiences-box .experience-row h3 {
      font-size: 14px;
      line-height: 1.5; }
body {
  width: 100%; }

h1, h2, h3, h4, h5, h6, a, span, li {
  font-family: 'Muli', sans-serif; }

.light-txt {
  color: white; }

.dark-txt {
  color: #333333; }

.serif-txt, .home-container .text-box h1 {
  font-family: 'Source Serif Pro', serif; }

.home-container {
  background-color: #00BFA5;
  padding: 50px 40px 0 40px; }
  .home-container .picture-box {
    text-align: right; }
    .home-container .picture-box .main-picture {
      width: 680px;
      margin-left: -80px;
      margin-top: -80px; }
  .home-container .text-box {
    margin-top: 80px;
    color: white; }
    .home-container .text-box h1 {
      font-weight: 600;
      line-height: 0.8; }
    .home-container .text-box h2 {
      font-size: 18px;
      font-weight: 400;
      line-height: 0.8; }
    .home-container .text-box h3 {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.7; }
    .home-container .text-box .social-box {
      margin-top: 30px; }
    .home-container .text-box .down-box {
      margin-top: 50px;
      text-align: center; }
      .home-container .text-box .down-box .icon {
        fill: white; }
    .home-container .text-box .icon {
      margin: 0 10px; }
      .home-container .text-box .icon * {
        width: 30px;
        height: 30px; }
    .home-container .text-box .email-icon * {
      transform: translate(0px, 0.5px); }
.navbar {
  transition: background-color 0.8s ease; }
  .navbar .navbar-brand {
    font-family: 'Source Serif Pro', serif;
    font-size: 25px;
    font-weight: 700;
    color: white; }
    .navbar .navbar-brand .light-txt {
      font-family: 'Source Serif Pro', serif; }
    .navbar .navbar-brand .dark-txt {
      font-family: 'Source Serif Pro', serif; }
  .navbar li {
    margin: 0 20px;
    text-transform: uppercase; }
    .navbar li a {
      color: #333333;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer; }
    .navbar li a:hover, .navbar li a:focus {
      background: none;
      color: white; }
    .navbar li .active {
      color: #00BFA5;
      cursor: default; }

.nav-other {
  background-color: black;
  transition: background-color 0.8s ease; }
  .nav-other li a {
    color: white; }
  .nav-other li a:hover, .nav-other li a:focus {
    background: none;
    color: #00BFA5; }
  .nav-other .navbar-brand {
    color: #00BFA5; }
    .nav-other .navbar-brand .dark-txt {
      color: white; }
body {
  width: 100%; }

h1, h2, h3, h4, h5, h6, a, span, li {
  font-family: 'Muli', sans-serif; }

.light-txt {
  color: white; }

.dark-txt {
  color: #333333; }

.serif-txt, .project-container .overview-box h1, .project-container .project-row .text-box h1 {
  font-family: 'Source Serif Pro', serif; }

.project-container {
  background-color: #333333;
  color: white;
  padding-top: 20px; }
  .project-container .overview-box {
    width: 65%;
    margin: 0 auto;
    padding: 20px; }
    .project-container .overview-box h1 {
      text-align: center; }
    .project-container .overview-box h2 {
      font-size: 16px;
      line-height: 1.8; }
    .project-container .overview-box .filter-title {
      font-size: 700;
      text-align: center; }
  .project-container .project-row {
    width: 100%;
    padding: 40px 40px;
    margin: 0; }
    .project-container .project-row .img-box {
      text-align: right; }
      .project-container .project-row .img-box .project-img {
        width: 200px; }
    .project-container .project-row .text-box h1 {
      font-size: 22px;
      line-height: 0.5;
      text-transform: uppercase; }
    .project-container .project-row .text-box h2 {
      font-size: 16px;
      line-height: 0.5;
      font-weight: 300; }
    .project-container .project-row .text-box .tag-container {
      margin-top: 20px; }
      .project-container .project-row .text-box .tag-container .tag, .project-container .project-row .text-box .tag-container .Javascript-tag, .project-container .project-row .text-box .tag-container .Ruby-tag, .project-container .project-row .text-box .tag-container .HTML5-tag, .project-container .project-row .text-box .tag-container .CSS3-tag, .project-container .project-row .text-box .tag-container .PostgreSQL-tag, .project-container .project-row .text-box .tag-container .SASS-tag {
        background-color: #f0dd44;
        border-radius: 5px;
        font-size: 12px;
        margin-right: 10px;
        padding: 6px 10px; }
      .project-container .project-row .text-box .tag-container .Javascript-tag {
        background-color: #f0dd44; }
      .project-container .project-row .text-box .tag-container .Ruby-tag {
        background-color: #661413; }
      .project-container .project-row .text-box .tag-container .HTML5-tag {
        background-color: #661413; }
      .project-container .project-row .text-box .tag-container .CSS3-tag {
        background-color: #661413; }
      .project-container .project-row .text-box .tag-container .PostgreSQL-tag {
        background-color: #661413; }
      .project-container .project-row .text-box .tag-container .SASS-tag {
        background-color: #661413; }
    .project-container .project-row .details-button {
      margin-top: 40px;
      padding: 10px 150px;
      border: none; }
    .project-container .project-row .packhire-btn {
      background-color: #599ff1; }
  .project-container .transition-row, .project-container .braindump-row, .project-container .packhire-row, .project-container .seam-row, .project-container .data-row, .project-container .frontend-row, .project-container .twitter-row {
    cursor: pointer;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear; }
  .project-container .braindump-row {
    background-color: #C04BAE; }
  .project-container .packhire-row {
    background-color: #4a90e2; }
  .project-container .seam-row {
    background-color: #28c369; }
  .project-container .data-row {
    background-color: #1ea1da; }
  .project-container .frontend-row {
    background-color: #cc2647; }
  .project-container .twitter-row {
    background-color: #6db4e4; }
body {
  width: 100%; }

h1, h2, h3, h4, h5, h6, a, span, li {
  font-family: 'Muli', sans-serif; }

.light-txt {
  color: white; }

.dark-txt {
  color: #333333; }

.serif-txt, .footer-container .text-box h1 {
  font-family: 'Source Serif Pro', serif; }

.footer-container {
  background-color: #00BFA5;
  padding: 30px 60px; }
  .footer-container .text-box {
    color: white; }
    .footer-container .text-box h1 {
      font-size: 45px;
      font-weight: 600;
      line-height: 0.6;
      text-transform: uppercase; }
    .footer-container .text-box h2 {
      font-size: 16px;
      font-weight: 300;
      line-height: 0.6; }
  .footer-container .social-box {
    margin-top: 28px;
    text-align: right; }
    .footer-container .social-box .icon {
      margin: 0 25px;
      opacity: 0.5; }
      .footer-container .social-box .icon * {
        width: 40px;
        height: 40px; }
    .footer-container .social-box .email-icon * {
      transform: translate(0px, 0.5px); }
body {
  width: 100%; }

h1, h2, h3, h4, h5, h6, a, span, li {
  font-family: 'Muli', sans-serif; }

.light-txt {
  color: white; }

.dark-txt {
  color: #333333; }

.serif-txt {
  font-family: 'Source Serif Pro', serif; }
.navbar {
  transition: background-color 0.8s ease; }
  .navbar .navbar-brand {
    font-family: 'Source Serif Pro', serif;
    font-size: 25px;
    font-weight: 700;
    color: white; }
    .navbar .navbar-brand .light-txt {
      font-family: 'Source Serif Pro', serif; }
    .navbar .navbar-brand .dark-txt {
      font-family: 'Source Serif Pro', serif; }
  .navbar li {
    margin: 0 20px;
    text-transform: uppercase; }
    .navbar li a {
      color: #333333;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer; }
    .navbar li a:hover, .navbar li a:focus {
      background: none;
      color: white; }
    .navbar li .active {
      color: #00BFA5;
      cursor: default; }

.nav-other {
  background-color: black;
  transition: background-color 0.8s ease; }
  .nav-other li a {
    color: white; }
  .nav-other li a:hover, .nav-other li a:focus {
    background: none;
    color: #00BFA5; }
  .nav-other .navbar-brand {
    color: #00BFA5; }
    .nav-other .navbar-brand .dark-txt {
      color: white; }
body {
  width: 100%; }

h1, h2, h3, h4, h5, h6, a, span, li {
  font-family: 'Muli', sans-serif; }

.light-txt {
  color: white; }

.dark-txt {
  color: #333333; }

.serif-txt {
  font-family: 'Source Serif Pro', serif; }

.description-container {
  display: inline-block;
  padding-top: 80px;
  width: 100%; }
  .description-container a {
    font-size: 16px;
    padding-top: 50px;
    color: #00BFA5;
    cursor: pointer;
    text-decoration: none;
    text-align: center; }
  .description-container a:hover {
    opacity: 0.75; }
  .description-container .overview-box {
    width: 60%;
    margin: 0 auto;
    text-align: center; }
    .description-container .overview-box h1 {
      text-transform: capitalize;
      font-weight: 700;
      font-size: 35px;
      color: #00BFA5; }
    .description-container .overview-box h2 {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 30px;
      text-align: left; }
    .description-container .overview-box .pic-wrapper {
      margin-top: 30px; }
    .description-container .overview-box .main-picture {
      width: 70%;
      text-align: center; }
  .description-container .text-box {
    width: 60%;
    margin: 50px auto 0 auto; }
    .description-container .text-box h1 {
      text-align: center;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 22px; }
    .description-container .text-box .text h2 {
      font-size: 18px; }
    .description-container .text-box .text li {
      font-size: 16px; }
    .description-container .text-box .work-txt {
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 30px; }
    .description-container .text-box .work {
      text-align: center;
      margin-top: 40px; }
      .description-container .text-box .work h2 {
        font-size: 20px;
        font-weight: 700;
        color: #000; }
      .description-container .text-box .work h3 {
        font-size: 18px;
        line-height: 1.6;
        text-align: left; }
      .description-container .text-box .work img {
        width: 50%;
        margin: 20px auto; }
  .description-container .feature-images-box {
    width: 60%;
    margin: 60px auto 0 auto;
    text-align: center; }
    .description-container .feature-images-box .feature-picture-2 {
      width: 50%; }
    .description-container .feature-images-box .feature-picture-3 {
      width: 33.3%; }
  .description-container .design-images-box {
    margin-top: 0; }
  .description-container .footer-box {
    width: 60%;
    margin: 10px auto 40px auto;
    text-align: center; }
    .description-container .footer-box a {
      padding-top: 30px;
      display: block; }
    .description-container .footer-box a:last-child {
      padding-top: 60px;
      font-size: 22px;
      font-weight: 700; }
