@import '../../static/css/variables.scss';

.footer-container {
  background-color: $mainColor;
  padding: 30px 60px;
  .text-box {
    color: $lightColor;
    h1 {
      @extend .serif-txt;
      font-size: 45px;
      font-weight: 600;
      line-height: 0.6;
      text-transform: uppercase;
    }
    h2 {
      font-size: 16px;
      font-weight: 300;
      line-height: 0.6;
    }
  }
  .social-box {
    margin-top: 28px;
    text-align: right;
    .icon {
      margin: 0 25px;
      opacity: 0.5;
      * {
        width: 40px;
        height: 40px;
      }
    }
    .email-icon * {
      transform: translate(0px, 0.5px);
    }
  }
}
