@import '../../static/css/variables.scss';

.experience-container {
  margin: 0;
  color: $darkColor;
  .text-container {
    width: 100%;
    padding: 30px 10%;
    background-color: $darkColor;
    color: $lightColor;
    margin: 0;
    .text-box {
      width: 100%;
      margin: 0 auto;
      h1 {
        @extend .serif-txt;
        text-align: center;
      }
      h2 {
        font-size: 16px;
        line-height: 1.8;
      }
      .filter-title {
        font-size: 700;
        text-align: center;
      }
    }
  }
  .experiences-box {
    width: 100%;
    padding: 40px 10%;
    margin: 0 auto;
    .experience-row {
      .timeline {
        .vertical-box {
          width: 100%;
          display: none;
          .vertical-line {
            background-color: $sysGray1;
            height: 75px;
            margin: -5px auto;
            width: 7px;
          }
        }
      }
      .img-box {
        background-color: $sysGray1;
        border-radius: 50%;
        height: 170px;
        margin: 40px auto;
        width: 170px;
        .img-bg {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          margin: 1px auto;
          border: 7px solid $sysGray1;
          background: $lightColor;
        }
        .company-img {
          width: 138px;
          margin: 30px auto 0 9px;
        }
        .zanbato-img {
          @extend .company-img;
          margin-top: 28%;
        }
        .ibm-img {
          @extend .company-img;
          margin-top: 18%;
        }
        .healthengine-img {
          width: 110px;
          height: 110px;
          margin: 14% auto auto 23px;
        }
        .insights-img {
          @extend .company-img;
          width: 125px;
          margin-top: 11.5%;
          margin-left: 17px;
        }
        .mdanderson-img {
          @extend .company-img;
          margin-top: 37%;
        }
        .northwestern-img {
          @extend .company-img;
          width: calc(100% - 15px);
          border-radius: 50%;
          margin-top: 7px;
          margin-left: 7px;
        }
      }
      .txt-box {
        margin-top: 20px;
      }
      h1 {
        @extend .serif-txt;
        font-size: 25px;
        line-height: 1.2;
        text-align: center;
      }
      h2 {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
        text-transform: uppercase;
        color: $mainColor;
        text-align: center;
      }
      h3 {
        font-size: 16px;
        line-height: 1.6;
        margin-top: 4px;
      }
    }
  }
}
@media (min-width:$break-lg) {
  .experience-container {
    .experiences-box {
      .experience-row {
        .timeline {
          .vertical-box {
            display: inline-block;
          }
        }
        .img-box {
          margin: -1px auto;
        }
        .txt-box {
          margin-top: -10px;
        }
        h1 {
          line-height: 0.5;
          text-align: left;
        font-size: 30px;
        }
        h2 {
          font-size: 20px;
          text-align: left;
        }
      }
    }
  }
}
