@import '../../static/css/variables.scss';

.experience-container {
  margin: 0;
  padding: 40px 0;
  color: $darkColor;
  overflow: hidden;
  .experiences-box {
    width: 100%;
    padding: 40px 8% 0 8%;
    margin: 0 auto;
    .experience-row {
      .timeline {
        text-align: center;
        .vertical-box {
          display: none;
          width: 160px;
          .vertical-line {
            background-color: $sysGray3;
            height: 70px;
            margin: -2px auto;
            width: 6px;
          }
        }
      }
      .img-box {
        background-color: $sysGray1;
        border-radius: 50%;
        height: 160px;
        margin: 40px auto;
        width: 160px;
        .img-bg {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          margin: 1px auto;
          border: 7px solid $sysGray3;
          background: $lightColor;
        }
        .company-img {
          width: 125px;
          margin: 30px auto 0 9px;
        }
        .zanbato-img-bg {
          background-color: #1d2634;
        }
        .zanbato-img {
          @extend .company-img;
          margin: 15%;
          width: 100px;
        }
        .ibm-img {
          @extend .company-img;
          margin-left: 0;
          margin-top: 18%;
        }
        .healthengine-img {
          width: 100px;
          height: 100px;
          margin: 14% auto auto 0;
        }
        .insights-img {
          @extend .company-img;
          width: 115px;
          margin-top: 11%;
          margin-left: 5px;
        }
        .mdanderson-img {
          @extend .company-img;
          margin-left: 2%;
          margin-top: 36%;
        }
        .northwestern-img {
          @extend .company-img;
          width: calc(100% - 15px);
          border-radius: 50%;
          margin-top: 7px;
          margin-left: -1px;
        }
      }
      .txt-box {
        margin-top: 20px;
      }
      .txt-box-odd {
        text-align: right;
      }
      h1 {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        color: $mainColor;
      }
      h2 {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.3;
        text-align: center;
      }
      h3 {
        font-size: 16px;
        line-height: 1.6;
        margin-top: 4px;
      }
    }
  }
}
@media (min-width:$break-small) {
  .experience-container {
    .experiences-box {
      padding: 40px auto;
      width: 90%;
      .txt-box {
        margin-top: 20px;
      }
      h1, h2, h3, h4 {
        text-align: center;
      }
    }
  }
}
@media (min-width:$break-med) {
  .experience-container {
    .experiences-box {
      padding: 40px 0 0 0;
      width: 100%;
      .experience-row {
        text-align: center;
        .timeline {
          .vertical-box {
            display: inline-block;
          }
        }
        .img-box {
          margin: -5px auto;
        }
        .txt-box {
          margin-top: -10px;
          min-height: 100px;
        }
        .txt-box-odd {
          h1, h2, h3 {
            text-align: right;
          }
        }
        .txt-box-even {
          h1, h2, h3 {
            text-align: left;
          }
        }
        h1 {
          line-height: 0.5;
          font-size: 22px;
        }
        h2 {
          font-size: 18px;
          line-height: 1.2;
        }
      }
    }
  }
}
@media (min-width:$break-lg) {
}
@media (min-width:$break-xlg) {
  .experience-container {
    .experiences-box {
      width: 95%;
      padding: 40px 10% 0 10%;
    }
  }
}
