@import '../../static/css/main.scss';

.home-container {
  background-color: $mainColor;
  padding: 40px 40px;
  .picture-box {
    text-align: right;
    .main-picture {
      width: 680px;
      margin-left: -80px;
      margin-top: -80px;
    }
  }
  .text-box {
    margin-top: 100px;
    color: $lightColor;
    h1 {
      font-family: 'Source Serif Pro', serif;
      font-weight: 600;
      line-height: 0.8;
    }
    h2 {
      font-size: 18px;
      font-weight: 400;
      line-height: 0.8;
    }
    h3 {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.7;
    }
  }
}
