@import '../../static/css/main.scss';

.home-container {
  background-color: $mainColor;
  padding: 50px 40px 0 40px;
  .picture-box {
    text-align: right;
    .main-picture {
      width: 680px;
      margin-left: -80px;
      margin-top: -80px;
    }
  }
  .text-box {
    margin-top: 80px;
    color: $lightColor;
    h1 {
      @extend .serif-txt;
      font-weight: 600;
      line-height: 0.8;
    }
    h2 {
      font-size: 18px;
      font-weight: 400;
      line-height: 0.8;
    }
    h3 {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.7;
    }
    .social-box {
      margin-top: 30px;
    }
    .down-box {
      margin-top: 50px;
      text-align: center;
      .icon {
        fill: $lightColor;
      }
    }
    .icon {
      margin: 0 10px;
      * {
        width: 30px;
        height: 30px;
      }
    }
    .email-icon * {
      transform: translate(0px, 0.5px);
    }
  }
}
