@import '~/node_modules/bootstrap/dist/css/bootstrap.css';
@import "./variables.scss";

body {
  width: 100%;
}

h1, h2, h3, h4, h5, h6, a, span, li {
  font-family: 'Muli', sans-serif;
}


a:hover {
  text-decoration: none;
}

.page-title-box {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  h1 {
    color: $mainColor;
    font-weight: 700;
    line-height: 0.5;
  }
  h2 {
    color: $sysBlack;
    font-size: 18px;
  }
}
@media (min-width:$break-med) {
  .page-title-box {
    width: 100%;
  }
}
