$sysGreen: #00BFA5;
$sysGreen1: rgba(0, 191, 165, 0.7);
$sysGray: #333333;
$sysGray1: rgb(80, 80, 80);
$sysWhite: rgb(255, 255, 255);
$sysBlack: rgb(0, 0, 0);
$oldGreen: rgb(30,185,84);

$mainColor: $oldGreen;
$mainColor1: $sysGreen1;
$lightColor: $sysWhite;
$darkColor: $sysGray;

$braindumpColor1: rgb(74, 144, 226);
$packhireColor1: rgb(74, 144, 226);
$seamColor1: rgb(40, 195, 105);
$frontendColor1: rgb(204, 38, 71);
$dataColor1: rgb(30, 161, 218);
$twitterColor1: rgb(109, 180, 228);

$braindumpColor: #C04BAE;
$packhireColor: rgb(74, 144, 226);
$seamColor: rgb(40, 195, 105);
$frontendColor: rgb(204, 38, 71);
$dataColor: rgb(30, 161, 218);
$twitterColor: rgb(109, 180, 228);

$braindumpColor0: #C04BAE;
$packhireColor0: rgba(74, 144, 226, 0);
$seamColor0: rgba(40, 195, 105, 0);
$frontendColor0: rgba(204, 38, 71, 0);
$dataColor0: rgba(30, 161, 218, 0);
$twitterColor0: rgba(109, 180, 228, 0);

$braindumpColor3: #C04BAE;
$packhireColor3: rgba(74, 144, 226, 0.3);
$seamColor3: rgba(40, 195, 105, 0.3);
$frontendColor3: rgba(204, 38, 71, 0.3);
$dataColor3: rgba(30, 161, 218, 0.3);
$twitterColor3: rgba(109, 180, 228, 0.3);

$braindumpColor2: rgba(74, 144, 226, 0.9);
$packhireColor2: rgba(89, 159, 241, 1);
$seamColor2: rgba(40, 195, 105, 1);
$frontendColor2: rgba(204, 38, 71, 1);
$dataColor2: rgba(30, 161, 218, 1);
$twitterColor2: rgba(109, 180, 228, 1);


$javascript: #FFB400;
$ruby: #DD1C1A;
$swift: #FFB400;
$node: #2274A5;
$mongodb: #32936F;
$django: #9BC53D;
$python: #1A936F;
$java: #F6511D;
$html5: #593C8F;
$css3: #FFB400;
$postgresql: #06AED5;
$sass: #FF1654;


$break-smaller:20em;
$break-small:23em;
$break-med:40.063em;
$break-lg:64.063em;
$break-xlg:80.063em;

.light-txt {
  color: $lightColor;
}

.dark-txt {
  color: $darkColor;
}

.serif-txt {
  font-family: 'Source Serif Pro', serif;
}

