$sysGreen: #00BFA5;
$sysGray: #333333;
$sysGray1: rgb(80, 80, 80);
$sysWhite: rgb(255, 255, 255);

$mainColor: $sysGreen;
$lightColor: $sysWhite;
$darkColor: $sysGray;

$packhireColor: rgb(74, 144, 226);
$seamColor: rgb(40, 195, 105);
$frontendColor: rgb(204, 38, 71);
$dataColor: rgb(30, 161, 218);
$twitterColor: rgb(109, 180, 228);