$sysGreen: #00BFA5;
$sysGray: #333333;
$sysGray1: rgb(80, 80, 80);
$sysWhite: rgb(255, 255, 255);

$mainColor: $sysGreen;
$lightColor: $sysWhite;
$darkColor: $sysGray;

$packhireColor1: rgb(74, 144, 226);
$seamColor1: rgb(40, 195, 105);
$frontendColor1: rgb(204, 38, 71);
$dataColor1: rgb(30, 161, 218);
$twitterColor1: rgb(109, 180, 228);

$packhireColor: rgba(74, 144, 226, 0.9);
$seamColor: rgba(40, 195, 105, 0.9);
$frontendColor: rgba(204, 38, 71, 0.9);
$dataColor: rgba(30, 161, 218, 0.9);
$twitterColor: rgba(109, 180, 228, 0.9);

$packhireColor2: rgba(89, 159, 241, 1);
$seamColor2: rgba(40, 195, 105, 1);
$frontendColor2: rgba(204, 38, 71, 1);
$dataColor2: rgba(30, 161, 218, 1);
$twitterColor2: rgba(109, 180, 228, 1);


$javascript: rgb(240,221, 68);
$ruby: rgb(102, 20, 19);
$html: rgb(102, 20, 19);
$css: rgb(102, 20, 19);
$postgresql: rgb(102, 20, 19);
$sass: rgb(102, 20, 19);


