@import '../../static/css/variables.scss';
@import './hover.scss';

.project-container {
  background-color: $sysGray5;
  margin: 0;
  padding: 40px 0;
  .list-container {
    margin: 0 auto;
    padding: 20px 15%;
    width: 100%;
    a:hover {
      text-decoration: none;
    }
    .project-card {
      position: relative;
      width: 100%;
      margin: 20px auto;
      .img-box {
        width: 100%;
        margin: 0 auto;
        .project-img {
          width: 100%;
        }
      }
      .text-box {
        color: $sysBlack;
        h1 {
          font-size: 22px;
          line-height: 0.5;
          font-weight: 800;
          text-transform: uppercase;
        }
        h2 {
          font-size: 16px;
          line-height: 0.5;
          font-weight: 300;
        }
      }
    }
  }
  .tag-container {
    width: 100%;
    margin-top: 20px;
    .tag {
      background-color: $javascript;
      border-radius: 5px;
      font-size: 16px;
      margin-right: 10px;
      padding: 6px 10px;
      display: inline-block;
      margin-bottom: 10px;
      color: $lightColor;
    }
    .Javascript-tag {
      @extend .tag;
      background-color: $javascript;
    }
    .Ruby-tag {
      @extend .tag;
      background-color: $ruby;
    }
    .Swift-tag {
      @extend .tag;
      background-color: $swift;
    }
    .Node-tag {
      @extend .tag;
      background-color: $node;
    }
    .MongoDB-tag {
      @extend .tag;
      background-color: $mongodb;
    }
    .Django-tag {
      @extend .tag;
      background-color: $django;
    }
    .Python-tag {
      @extend .tag;
      background-color: $python;
    }
    .Java-tag {
      @extend .tag;
      background-color: $java;
    }
    .HTML5-tag {
      @extend .tag;
      background-color: $html5;
    }
    .CSS3-tag {
      @extend .tag;
      background-color: $css3;
    }
    .PostgreSQL-tag {
      @extend .tag;
      background-color: $postgresql;
    }
    .SASS-tag {
      @extend .tag;
      background-color: $sass;
    }
  }
}

@media (min-width:$break-small) {
  .project-container {
    .list-container {
      margin: 0 auto;
      padding: 20px 20%;
      width: 95%;
      .project-card {
        width: 100%;
        margin: 30px auto;
      }
    }
  }
}

@media (min-width:$break-med) {
  .project-container {
    .list-container {
      margin: 0 auto;
      padding: 20px 5%;
      width: 95%;
      .project-card {
        width: 100%;
        margin: 30px auto;
      }
    }
  }
}
@media (min-width:$break-lg) {
  .project-container {
    .list-container {
      width: 90%;
      margin: 0 auto;
      padding: 10px 3%;
      .project-card {
        width: 90%;
        margin-left: 5%;
      }
    }
  }
}

@media (min-width:$break-xlg) {
  .project-container {
    .list-container {
      padding: 10px 5%;
    }
  }
}

@media (min-width:$break-xlg2) {
  .project-container {
    .list-container {
      padding: 10px 10%;
    }
  }
}
