@import '../../static/css/variables.scss';
@import './hover.scss';

.project-container {
  margin: 0;
  color: $lightColor;
  .overview-box {
    width: 100%;
    padding: 30px 10%;
    background-color: $darkColor;
    margin: 0 auto;
    h1 {
      @extend .serif-txt;
      text-align: center;
    }
    h2 {
      font-size: 16px;
      line-height: 1.8;
    }
    .filter-title {
      font-size: 700;
      text-align: center;
    }
  }
  .list-container {
    margin: 0 auto;
    padding: 40px 15%;
    width: 100%;
    a:hover {
      text-decoration: none;
    }
    .project-card {
      position: relative;
      width: 100%;
      margin: 20px auto;
      .img-box {
        width: 100%;
        margin: 0 auto;
        .project-img {
          width: 100%;
        }
      }
      .text-box {
        color: $sysBlack;
        h1 {
          font-size: 22px;
          line-height: 0.5;
          font-weight: 800;
          text-transform: uppercase;
        }
        h2 {
          font-size: 16px;
          line-height: 0.5;
          font-weight: 300;
        }
      }
    }
  }
  .tag-container {
    width: 100%;
    margin-top: 20px;
    .tag {
      background-color: $javascript;
      border-radius: 5px;
      font-size: 16px;
      margin-right: 10px;
      padding: 6px 10px;
      display: inline-block;
      margin-bottom: 10px;
      color: $lightColor;
    }
    .Javascript-tag {
      @extend .tag;
      background-color: $javascript;
    }
    .Ruby-tag {
      @extend .tag;
      background-color: $ruby;
    }
    .Swift-tag {
      @extend .tag;
      background-color: $swift;
    }
    .Node-tag {
      @extend .tag;
      background-color: $node;
    }
    .MongoDB-tag {
      @extend .tag;
      background-color: $mongodb;
    }
    .Django-tag {
      @extend .tag;
      background-color: $django;
    }
    .Python-tag {
      @extend .tag;
      background-color: $python;
    }
    .Java-tag {
      @extend .tag;
      background-color: $java;
    }
    .HTML5-tag {
      @extend .tag;
      background-color: $html5;
    }
    .CSS3-tag {
      @extend .tag;
      background-color: $css3;
    }
    .PostgreSQL-tag {
      @extend .tag;
      background-color: $postgresql;
    }
    .SASS-tag {
      @extend .tag;
      background-color: $sass;
    }
  }
}

@media (min-width:$break-med) {
  .project-container {
    .list-container {
      width: 75%;
      margin: 0 auto;
      .project-card {
        width: 100%;
        margin: 30px auto;
      }
    }
  }
}
@media (min-width:$break-lg) {
  .project-container {
    .list-container {
      width: 100%;
      margin: 0 auto;
      padding: 40px 10%;
      .project-card {
        width: 90%;
      }
    }
  }
}
