@import '../../../static/css/variables.scss';

.description-container {
  display: inline-block;
  padding-top: 80px;
  width: 100%;
  a {
    font-size: 16px;
    padding-top: 50px;
    color: $mainColor;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  a:hover {
    opacity: 0.75;
  }
  .overview-box {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    h1 {
      text-transform: capitalize;
      font-weight: 700;
      font-size: 35px;
      color: $mainColor;
    }
    h2 {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 30px;
      text-align: left;
    }
    .pic-wrapper {
      margin-top: 30px;
      // text-align: center;
    }
    .main-picture {
      width: 100%;
      text-align: center;
    }
  }
  .text-box {
    width: 80%;
    margin: 50px auto 0 auto;
    h1 {
      text-align: center;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 22px;
    }
    .text {
      h2 {
        font-size: 18px;
      }
      li {
        font-size: 16px;
      }
    }
    .work-txt {
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 30px;
    }
    .work {
      text-align: center;
      margin-top: 40px;
      h2 {
        font-size: 20px;
        font-weight: 700;
        color: #000;
        line-height: 1.3;
      }
      h3 {
        font-size: 18px;
        line-height: 1.6;
        text-align: left;
      }
      img {
        width: 100%;
        margin: 20px auto;
      }
    }
  }
  .feature-images-box {
    width: 80%;
    margin: 10px auto 0 auto;
    text-align: center;
    .feature-picture-2 {
      margin-top: 30px;
      width: 100%;
    }
    .feature-picture-3 {
      width: 100%;
    }
  }
  .design-images-box {
    margin-top: 0;
  }
  .footer-box {
    width: 60%;
    margin: 10px auto 40px auto;
    text-align: center;
    a {
      padding-top: 30px;
      display: block;
    }
    .back {
        margin-top: 20px;
        height: 30px;
      * {
        margin-top: 20px;
        width: 30px;
        height: 30px;
      }
    }
    .back-txt {
      margin-top: -20px;
    }
    a:last-child {
      padding-top: 60px;
      font-size: 22px;
      font-weight: 700;
    }
  }
}

@media (min-width:$break-med) {
  .description-container {
    .overview-box {
      width: 80%;
    }
    .text-box {
      width: 80%;
      .work {
        img {
          width: 50%;
        }
        h2 {
          line-height: 1.2;
        }
      }
    }
    .feature-images-box {
      width: 60%;
      margin: 60px auto 0 auto;
      text-align: center;
      .feature-picture-2 {
        width: 50%;
      }
      .feature-picture-3 {
        width: 33.3%;
      }
    }
  }
}

@media (min-width:$break-lg) {
  .description-container {
    .overview-box {
      width: 60%;
    }
    .text-box {
      width: 60%;
      .work {
        img {
          width: 50%;
        }
        h2 {
          line-height: 1.2;
        }
      }
    }
    .feature-images-box {
      width: 60%;
      margin: 60px auto 0 auto;
      text-align: center;
      .feature-picture-2 {
        width: 50%;
      }
      .feature-picture-3 {
        width: 33.3%;
      }
    }
  }
}
